* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  line-height: 1.6;
}

header {
  width: 100%;
  padding: 10px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.navbar{
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menus{
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar-menus li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}
.navbar-menus li a:hover {
  text-decoration: underline;
}
.navbar-btn{
  display: none;
  background: transparent none;
}
@media (max-width:550px) {
  .navbar-menus{
    display: none;
  }
  .navbar-btn{
    display: block;
  }
}

#hero {
  background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?auto=format&fit=crop&w=1500&q=80');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 100px; /* for fixed header */
  color: white;
}

.hero-content {
  max-width: 600px;
  margin-left: 60px;
}

.hero-page{
  font-size: 40px;
  margin-bottom: 20px;
}

.hero-description{
  margin-bottom: 20px;
  font-size: 16px;
  color: #d8d8d8;
}

.btn{
  display: inline-block;
  background-color: #2196F3;
  color: white;
  margin-top: 40px;
  padding: 10px 30px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #0b7dda;
}
